In [2]:
import os
import pandas as pd
import numpy as np
from math import sqrt
from tqdm import tqdm_notebook as tqdm

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [3]:
data = pd.read_json('../data.json')

ValueError: Expected object or value

In [ ]:
data.head()

In [1]:
data['address'].str.contain('대전')

NameError: name 'data' is not defined

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 459988 entries, 0 to 459987
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             459988 non-null  int64
 1   name           459988 non-null  object
 2   branch         23460 non-null   object
 3   area           443274 non-null  object
 4   tel            449759 non-null  object
 5   address        459931 non-null  object
 6   latitude       459987 non-null  float64
 7   longitude      459987 non-null  float64
 8   category_list  459988 non-null  object
 9   menu_list      459988 non-null  object
 10  bhour_list     459988 non-null  object
 11  review_cnt     459988 non-null  int64
 12  review_list    459988 non-null  object
dtypes: float64(2), int64(2), object(9)
memory usage: 45.6+ MB

In [8]:
data.isna().sum()

id                    0
name                  0
branch           436528
area              16714
tel               10229
address              57
latitude              1
longitude             1
category_list         0
menu_list             0
bhour_list            0
review_cnt            0
review_list           0
dtype: int64

In [5]:
data2 = pd.read_pickle('../../bigdata/dump.pkl')
data2

{'stores':             id     store_name branch area           tel  \
 0            3  Battered Sole   None  이태원   02-749-6867
 1            6     Gogoss Pub   None   하남  031-792-9289
 2            7      Madeleine   None  만촌동  053-759-7947
 3           11          국수이야기   None   월곶  031-317-8002
 4           13           모이바바   None  수영역          None
 ...        ...            ...    ...  ...           ...
 175277  456301        해녀조씨할매집   None   기장  051-721-2972
 175278  456302         해녀직영횟집   None  정동진  033-644-5278
 175279  456304            해녀집   None  태종대  051-403-6752
 175280  456305           해녀짬뽕   None   서면  051-806-1231
 175281  456309          해녀촌식당   None  욕지도          None

                        address   latitude   longitude  review_cnt  category
 0         서울특별시 용산구 이태원동 118-9  37.535032  126.991664           0   피쉬앤칩스|펍
 1           경기도 하남시 덕풍동 412-18  37.539046  127.203933           0         펍
 2        대구광역시 수성구 만촌1동 1356-7  35.869088  128.636058           0  마들렌|베이커리
 3           경기도 시흥시 월곶동 1006-3  37.388700  126.740000           0   국수|고기국수
 4          부산광역시 수영구 광안동 116-4  35.162700  129.115000           0      cafe
 ...                        ...        ...         ...         ...       ...
 175277   부산광역시 기장군 기장읍 연화리 140  35.218365  129.227554           0  전복죽|해물모듬
 175278   강원도 강릉시 강동면 정동진리 12-2  37.685900  129.039000           0   해삼물회|전복
 175279        부산시 영도구 동삼동 1052  35.061028  129.077026           0  조개구이|가리비
 175280   부산광역시 부산진구 부전동 241-12  35.153700  129.058000           0   해물짬뽕|짬뽕
 175281  경상남도 통영시 욕지면 동항리 824-8  34.634600  128.264000           0       전복죽

 [175282 rows x 10 columns],
 'reviews':          id   store    user  score  \
 0         4      37  774353      2
 1         8      50  249051      5
 2        10      56  946187      4
 3        11      56  319105      3
 4        12      56  183349      5
 ...     ...     ...     ...    ...
 76018  2400  360493  130558      3
 76019  2402  360505  198050      4
 76020  2403  360514  190766      5
 76021  2404  360514  201564      4
 76022  2405  360515  611078      5

                                                  content             reg_time
 0      전 여기 5년전에 가봤었는데 그때 기억은 별로였어요\n단체손님이 많았고, 차려지는건...  1970-01-01 00:00:00
 1      연희동의 숨은 맛집. 재료의 신선함에 푸짐한 양까지 놓치지 않는다.\n버섯의 쫄깃함...  2018-07-28 22:54:27
 2                                                         2016-07-07 20:51:23
 3      음식은 별 3점 정도..? 무난하게 맛있다 . 와!!맛있다는 아니고.. 울대에 워낙...  2017-08-22 19:52:50
 4                                                         2016-07-07 20:51:23
 ...                                                  ...                  ...
 76018  메뉴가 이색적이었지만 색다른 맛은 아니었다. 밥이 흑미밥인게 좋았고 마침 갔을 때 ...  1970-01-01 00:00:00
 76019              닭발이 소스가 매운데 중독성있는 맛입니다. 마지막에 볶음밥 꼭드세요  1970-01-01 00:00:00
 76020                     늘 사람 많은 곳입니다. 소고기만 먹어도 배불러요! 굿  1970-01-01 00:00:00
 76021  고기가 엄청많이 먹고싶을 때 종종 들리는 곳이에요\n뷔페처럼 샐러드바에 사이드메뉴가...  1970-01-01 00:00:00
 76022                                                     1970-01-01 00:00:00

 [76023 rows x 6 columns],
 'menus':          id   store             menu_name    price
 0         0       3  메인 (피쉬앤칩스, 오리 가슴살 등)  14000.0
 1         1       3          스타터 보드(파테 등)  18000.0
 2         2       3        디저트 (초콜렛 퐁당 등)   8500.0
 3         3       3               생과일 칵테일   9000.0
 4         4       3                   생맥주   7000.0
 ...      ..     ...                   ...      ...
 1327146   8  456309           전복/해삼/소라(중)  50000.0
 1327147   9  456309           전복/해삼/소라(대)  70000.0
 1327148  10  456309                    문어      0.0
 1327149  11  456309                   돌멍게      0.0
 1327150  12  456309                 오늘의 회      0.0

 [1327151 rows x 4 columns],
 'users':            id gender  age  user_review_count
 0      774353      여   50                  1
 1      249051      여   29                  1
 2      183349      남   47                  1
 3      183349      남   47                  1
 4      183349      남   47                  1
 ...       ...    ...  ...                ...
 76018  130558      여   27                  1
 76019  198050      남   28                  1
 76020  201564      여   27                  1
 76021  201564      여   27                  1
 76022  611078      여   28                  1

 [76023 rows x 4 columns]}

In [6]:
stores_df = data2['stores'].copy()
stores_df.head()

,id,store_name,branch,area,tel,address,latitude,longitude,review_cnt,category
0,3,Battered Sole,None,이태원,02-749-6867,서울특별시 용산구 이태원동 118-9,37.535032,126.991664,0,피쉬앤칩스|펍
1,6,Gogoss Pub,None,하남,031-792-9289,경기도 하남시 덕풍동 412-18,37.539046,127.203933,0,펍
2,7,Madeleine,None,만촌동,053-759-7947,대구광역시 수성구 만촌1동 1356-7,35.869088,128.636058,0,마들렌|베이커리
3,11,국수이야기,None,월곶,031-317-8002,경기도 시흥시 월곶동 1006-3,37.388700,126.740000,0,국수|고기국수
4,13,모이바바,None,수영역,None,부산광역시 수영구 광안동 116-4,35.162700,129.115000,0,cafe

In [15]:
stores_df.loc[stores_df['address'].str.contains('대전')]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [14]:
stores_df.loc[stores_df['area'] == '대전']

,id,store_name,branch,area,tel,address,latitude,longitude,review_cnt,category
10,40,0131,None,대전,010-4846-0131,대전광역시 서구 가수원동 1029,36.305700,127.350000,0,cafe
341,748,1987파머스,None,대전,042-626-1987,대전광역시 대덕구 비래동 428,36.368100,127.449000,1,카페|당고
1038,2494,4시30분 왕족발,None,대전,050-4570-7351,대전광역시 중구 문화동 1-192,36.321456,127.415120,0,왕족발|족발
1048,2511,5.5닭갈비,송촌점,대전,042-621-5055,대전광역시 대덕구 송촌동 454-3,36.365364,127.437753,1,닭갈비|버섯
1145,2849,59쌀피자,None,대전,031-749-5982,경기도 성남시 수정구 양지동 529,37.457965,127.163762,0,피자
...,...,...,...,...,...,...,...,...,...,...
174793,454960,함초양념갈비,None,대전,042-624-1184,대전광역시 동구 용전동 43-5,36.357037,127.433140,0,양념갈비|갈비
175068,455779,항아리보쌈,None,대전,042-633-0101,대전광역시 대덕구 송촌동 456-18,36.364290,127.438158,0,보쌈|쟁반국수
175084,455801,항아리보쌈,None,대전,042-934-0053,대전광역시 유성구 관평동 957,36.425563,127.392409,0,보쌈|파전
175150,455939,항아리칼국수,None,대전,042-638-4277,대전광역시 동구 용전동 160-21,36.354744,127.432440,0,칼국수|해물칼국수
175255,456257,해남해산물,None,대전,042-522-1559,대전광역시 중구 유천1동 323-20,36.319924,127.393802,0,돌문어|조개탕

In [6]:
reviews_df = data2['reviews']
reviews_df.head()

,id,store,user,score,content,reg_time
0,4,37,774353,2,"전 여기 5년전에 가봤었는데 그때 기억은 별로였어요\n단체손님이 많았고, 차려지는건...",1970-01-01 00:00:00
1,8,50,249051,5,연희동의 숨은 맛집. 재료의 신선함에 푸짐한 양까지 놓치지 않는다.\n버섯의 쫄깃함...,2018-07-28 22:54:27
2,10,56,946187,4,,2016-07-07 20:51:23
3,11,56,319105,3,음식은 별 3점 정도..? 무난하게 맛있다 . 와!!맛있다는 아니고.. 울대에 워낙...,2017-08-22 19:52:50
4,12,56,183349,5,,2016-07-07 20:51:23

In [7]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76023 entries, 0 to 76022
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        76023 non-null  int64
 1   store     76023 non-null  int64
 2   user      76023 non-null  int64
 3   score     76023 non-null  int64
 4   content   76023 non-null  object
 5   reg_time  76023 non-null  object
dtypes: int64(4), object(2)
memory usage: 3.5+ MB

In [13]:
!pip install matrix-factorization

Requirement already satisfied: matrix-factorization in c:\programdata\anaconda3\lib\site-packages (1.3)
Requirement already satisfied: numpy>=1.18.5 in c:\programdata\anaconda3\lib\site-packages (from matrix-factorization) (1.19.2)
Requirement already satisfied: pandas>=1.0.4 in c:\programdata\anaconda3\lib\site-packages (from matrix-factorization) (1.1.3)
Requirement already satisfied: numba>=0.49.1 in c:\programdata\anaconda3\lib\site-packages (from matrix-factorization) (0.51.2)
Requirement already satisfied: scikit-learn>=0.23.1 in c:\programdata\anaconda3\lib\site-packages (from matrix-factorization) (0.23.2)
Requirement already satisfied: scipy>=1.4.1 in c:\programdata\anaconda3\lib\site-packages (from matrix-factorization) (1.5.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.4->matrix-factorization) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.4->matrix-factorization) (2020.1)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in c:\programdata\anaconda3\lib\site-packages (from numba>=0.49.1->matrix-factorization) (0.34.0)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from numba>=0.49.1->matrix-factorization) (50.3.1.post20201107)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.23.1->matrix-factorization) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.23.1->matrix-factorization) (0.17.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=1.0.4->matrix-factorization) (1.15.0)

In [14]:
from matrix_factorization import BaselineModel, KernelMF, train_update_test_split

In [15]:
ratings_df = reviews_df[['store','user','score','reg_time']].copy()
ratings_df["user"].values

array([ 68632, 389728,  68716, ..., 190766, 201564, 611078], dtype=int64)

In [16]:
ratings_df = ratings_df.rename(columns = {"store":"item_id","user":"user_id","reg_time":"timestamp","score":"rating"})

In [17]:
ratings_df = ratings_df[['user_id','item_id','rating','timestamp']]
ratings_df

       user_id  item_id  rating            timestamp
0        68632       15       5  1970-01-01 00:00:00
1       389728       18       5  1970-01-01 00:00:00
2        68716       19       4  1970-01-01 00:00:00
3       774353       37       2  1970-01-01 00:00:00
4       115682       38       3  2019-03-15 22:16:47
...        ...      ...     ...                  ...
91393    17371   360499       5  1970-01-01 00:00:00
91394   198050   360505       4  1970-01-01 00:00:00
91395   190766   360514       5  1970-01-01 00:00:00
91396   201564   360514       4  1970-01-01 00:00:00
91397   611078   360515       5  1970-01-01 00:00:00

[91398 rows x 4 columns]

In [18]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91398 entries, 0 to 91397
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    91398 non-null  int64
 1   item_id    91398 non-null  int64
 2   rating     91398 non-null  int64
 3   timestamp  91398 non-null  object
dtypes: int64(3), object(1)
memory usage: 2.8+ MB

In [19]:
X_train, X_test, y_train, y_test = train_test_split(ratings_df[['user_id','item_id']],ratings_df[['rating']], test_size=0.2, random_state=1234)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(73118, 2)
(73118, 1)
(18280, 2)
(18280, 1)

In [20]:
matrix_fact = KernelMF(n_epochs=20, n_factors=100, verbose=1, lr=0.001, reg=0.005)
matrix_fact.fit(X_train, y_train)

Epoch  1 / 20  -  train_rmse: 1.1042830958969088
Epoch  2 / 20  -  train_rmse: 1.0941768037132626
Epoch  3 / 20  -  train_rmse: 1.0850764296384439
Epoch  4 / 20  -  train_rmse: 1.0767412772753098
Epoch  5 / 20  -  train_rmse: 1.069001248706338
Epoch  6 / 20  -  train_rmse: 1.0617369089679325
Epoch  7 / 20  -  train_rmse: 1.0548620943125289
Epoch  8 / 20  -  train_rmse: 1.0483166064073322
Epoch  9 / 20  -  train_rmse: 1.0420495313759577
Epoch  10 / 20  -  train_rmse: 1.0360224315827138
Epoch  11 / 20  -  train_rmse: 1.0302063580355834
Epoch  12 / 20  -  train_rmse: 1.024575097029267
Epoch  13 / 20  -  train_rmse: 1.019105736396856
Epoch  14 / 20  -  train_rmse: 1.0137833397492804
Epoch  15 / 20  -  train_rmse: 1.0085919925385192
Epoch  16 / 20  -  train_rmse: 1.003519690093185
Epoch  17 / 20  -  train_rmse: 0.9985565308235274
Epoch  18 / 20  -  train_rmse: 0.9936935134070738
Epoch  19 / 20  -  train_rmse: 0.988922508736938
Epoch  20 / 20  -  train_rmse: 0.9842365922442851

KernelMF(gamma=0.01, lr=0.001, n_epochs=20, reg=0.005)

In [21]:
pred = matrix_fact.predict(X_test)
rmse = mean_squared_error(y_test, pred, squared=False)
print(f"\nTest RMSE: {rmse:.4f}")

Test RMSE: 1.0573

In [22]:
# Get recommendations
user = 68632
items_known = X_train.query("user_id == @user")["item_id"]

result_df = matrix_fact.recommend(user=user, items_known=items_known,amount=30)
result_df

       user_id  item_id  rating_pred
13632    68632    81272     5.000000
6222     68632   119553     5.000000
83       68632    26012     5.000000
31800    68632   155276     5.000000
8622     68632   112877     5.000000
2417     68632    76200     5.000000
24624    68632   354937     5.000000
347      68632   346836     5.000000
3442     68632    53390     5.000000
971      68632   270009     5.000000
1224     68632   229027     5.000000
10546    68632    69062     5.000000
15104    68632    79061     5.000000
31170    68632    41395     5.000000
5372     68632    45296     5.000000
6668     68632   156594     5.000000
32648    68632   300420     5.000000
34592    68632   222162     5.000000
7494     68632   130312     5.000000
26706    68632   301018     5.000000
19108    68632    35124     5.000000
22514    68632   331482     5.000000
473      68632   204267     5.000000
16543    68632   112878     5.000000
4180     68632   297754     5.000000
3585     68632   353063     5.000000
5521     68632   118035     5.000000
19077    68632     9072     5.000000
13317    68632   240028     4.999504
22573    68632   120212     4.998457

In [23]:
ids = result_df['item_id'].to_list()

In [24]:
test_recommend = stores_df[stores_df['id'].isin(ids)]

In [26]:
test_recommend

NameError: name 'test_recommend' is not defined

In [25]:
test_recommend.to_csv(path_or_buf="test_recommend.csv",encoding='utf-8-sig')

PermissionError: [Errno 13] Permission denied: 'test_recommend.csv'

In [33]:
test_before_data = reviews_df[reviews_df['user'] == 68632]

In [ ]:
test_before_data.to_csv('test_before_data.csv',encoding='utf-8-sig')

In [ ]:
!pip install konlpy

In [26]:
import sys

sys.version

'3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]'

In [ ]:
!pip install --user JPype1-1.1.2-cp38-cp38-win_amd64.whl

In [34]:
test_before_data

,id,store,user,score,content,reg_time,user_gender,user_born
0,1,15,68632,5,전포 윗길에 새로 생긴! 호주에서 온 쉐프가 직접 요리하는 호주식 레스토랑!,1970-01-01 00:00:00,남,1990
325,326,1216,68632,5,간단하게 먹으러 갔다가 얼큰우동에 반하고 나오는 24시 우동집!,1970-01-01 00:00:00,남,1990
1412,1413,8756,68632,5,식사보다는 말그대로 피맥으로 한잔하기에 딱 좋은 피자!,1970-01-01 00:00:00,남,1990
1527,1528,9460,68632,5,파란 컨테이너의 외관부터 너무 이쁜 건대 커멘그래운드 2층의 루프탑카페! 분위기 좋...,2019-04-06 12:52:22,남,1990
2300,4681,13745,68632,5,가야공원에서 제일 맛있는 오리고기집~ 다 먹고 볶음밥 볶아 먹으면.. 크~~,2018-11-28 15:12:33,남,1990
...,...,...,...,...,...,...,...,...
87932,11466,345715,68632,5,전포동에 위치한 조용하고 예쁜 카페 전포리! 벌써부터 크리스마스 느낌 물씬~,1970-01-01 00:00:00,남,1990
88311,11845,347500,68632,4,24시간이라 적당히 갈비탕/육개장칼국수로 한끼 떼우기에 좋아요,1970-01-01 00:00:00,남,1990
88564,12098,348557,68632,5,구디가면 꼭 먹는 정정아식당! 닭볶음탕에 볶음밥 먹으면 그냥 끝!,1970-01-01 00:00:00,남,1990
88749,12283,349096,68632,5,능이버섯으로 지은 밥과 능이버섯을 달인 물로 만든 요리들,1970-01-01 00:00:00,남,1990
90365,1373,355168,68632,5,"우연히 지나가다 보고 들렀는데, 저렴한 가격에 맛있는 보쌈을 먹을 수 있어서 최고였...",1970-01-01 00:00:00,남,1990

In [28]:
from konlpy.tag import Kkma
from konlpy.utils import pprint

In [ ]:
!pip install --user jpype1==0.7.0

In [29]:
kkma = Kkma()

In [30]:
from konlpy.utils import pprint

In [49]:
test_before_data['content'].apply(lambda x: kkma.nouns(u"{}".format(x)))

0                   [전포, 윗길, 호주, 쉐프, 요리, 호, 호주식, 주식, 레스토랑]
325                               [우동, 24, 24시, 시, 우동집, 집]
1412                                   [식사, 말, 피맥, 한잔, 피자]
1527     [파란, 컨테이너, 외관, 운드, 2, 2층, 층, 루프, 루프탑카페, 탑, 카페,...
2300                 [가야, 가야공원, 공원, 오리, 오리고기집, 고기, 집, 볶음밥]
                               ...
87932     [전포, 전포동, 동, 위치, 조용하, 카페, 전, 전포리, 포리, 크리스마스, 느낌]
88311             [24, 24시간, 시간, 갈비탕, 육개장, 육개장칼국수, 칼국수, 끼]
88564           [정, 정정아식당, 정아, 식당, 닭, 닭볶음탕, 볶음, 탕, 볶음밥, 끝]
88749                             [능이, 능이버섯, 버섯, 밥, 물, 요리]
90365              [가격, 보쌈, 수, 최고, 보쌈김치, 김치, 존, 존맛탱, 맛, 탱]
Name: content, Length: 121, dtype: object

In [52]:
test_before_data['words'] = test_before_data['content'].apply(lambda x: [i for i in kkma.pos(u"{}".format(x)) if i[1] == 'NNG'])

<ipython-input-52-7c40d2595ec6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_before_data['words'] = test_before_data['content'].apply(lambda x: [i for i in kkma.pos(u"{}".format(x)) if i[1] == 'NNG'])

In [53]:
test_before_data

,id,store,user,score,content,reg_time,user_gender,user_born,words
0,1,15,68632,5,전포 윗길에 새로 생긴! 호주에서 온 쉐프가 직접 요리하는 호주식 레스토랑!,1970-01-01 00:00:00,남,1990,"[(전포, NNG), (윗길, NNG), (호주, NNG), (요리, NNG), (..."
325,326,1216,68632,5,간단하게 먹으러 갔다가 얼큰우동에 반하고 나오는 24시 우동집!,1970-01-01 00:00:00,남,1990,"[(시, NNG), (집, NNG)]"
1412,1413,8756,68632,5,식사보다는 말그대로 피맥으로 한잔하기에 딱 좋은 피자!,1970-01-01 00:00:00,남,1990,"[(식사, NNG), (말, NNG), (피맥, NNG), (한잔, NNG), (피..."
1527,1528,9460,68632,5,파란 컨테이너의 외관부터 너무 이쁜 건대 커멘그래운드 2층의 루프탑카페! 분위기 좋...,2019-04-06 12:52:22,남,1990,"[(파란, NNG), (컨테이너, NNG), (외관, NNG), (층, NNG), ..."
2300,4681,13745,68632,5,가야공원에서 제일 맛있는 오리고기집~ 다 먹고 볶음밥 볶아 먹으면.. 크~~,2018-11-28 15:12:33,남,1990,"[(가야, NNG), (공원, NNG), (오리, NNG), (고기, NNG), (..."
...,...,...,...,...,...,...,...,...,...
87932,11466,345715,68632,5,전포동에 위치한 조용하고 예쁜 카페 전포리! 벌써부터 크리스마스 느낌 물씬~,1970-01-01 00:00:00,남,1990,"[(위치, NNG), (조용하, NNG), (카페, NNG), (전, NNG), (..."
88311,11845,347500,68632,4,24시간이라 적당히 갈비탕/육개장칼국수로 한끼 떼우기에 좋아요,1970-01-01 00:00:00,남,1990,"[(갈비탕, NNG), (육개장, NNG), (칼국수, NNG), (끼, NNG)]"
88564,12098,348557,68632,5,구디가면 꼭 먹는 정정아식당! 닭볶음탕에 볶음밥 먹으면 그냥 끝!,1970-01-01 00:00:00,남,1990,"[(정, NNG), (정아, NNG), (식당, NNG), (닭볶음탕, NNG), ..."
88749,12283,349096,68632,5,능이버섯으로 지은 밥과 능이버섯을 달인 물로 만든 요리들,1970-01-01 00:00:00,남,1990,"[(능이, NNG), (버섯, NNG), (밥, NNG), (능이, NNG), (버..."
90365,1373,355168,68632,5,"우연히 지나가다 보고 들렀는데, 저렴한 가격에 맛있는 보쌈을 먹을 수 있어서 최고였...",1970-01-01 00:00:00,남,1990,"[(가격, NNG), (보쌈, NNG), (최고, NNG), (보쌈, NNG), (..."

In [68]:
dummy = test_before_data['words'].tolist()

In [75]:
from collections import Counter
di = defaultdict()
temp = []
for d in dummy:
    for i in d:
        temp.append(i[0])

In [95]:
temp2 = []
for i,j in Counter(temp).items():
    temp2.append((i,j))

In [100]:
temp2.sort(key=lambda x : x[1],reverse=True)

In [101]:
temp2

[('맛', 44),
 ('집', 31),
 ('위치', 21),
 ('식당', 10),
 ('카페', 9),
 ('점심', 8),
 ('분위기', 7),
 ('국수', 7),
 ('찌개', 7),
 ('때', 7),
 ('정식', 7),
 ('칼국수', 6),
 ('밥', 6),
 ('가격', 6),
 ('송정', 6),
 ('전', 6),
 ('말', 5),
 ('유명', 5),
 ('길', 5),
 ('구이', 5),
 ('요리', 4),
 ('고기', 4),
 ('볶음밥', 4),
 ('비', 4),
 ('진짜', 4),
 ('김치', 4),
 ('냉면', 4),
 ('기장', 4),
 ('끼', 4),
 ('역', 4),
 ('바', 4),
 ('마라', 4),
 ('라멘', 4),
 ('있음', 4),
 ('카레', 4),
 ('숲', 4),
 ('전포', 3),
 ('레스토랑', 3),
 ('식사', 3),
 ('버섯', 3),
 ('구리', 3),
 ('배', 3),
 ('스타일', 3),
 ('안', 3),
 ('바다', 3),
 ('앞', 3),
 ('국물', 3),
 ('최고', 3),
 ('가게', 3),
 ('돈까스', 3),
 ('고민', 3),
 ('장', 3),
 ('이름', 3),
 ('리', 3),
 ('조합', 3),
 ('곳', 3),
 ('보쌈', 3),
 ('제주', 3),
 ('조림', 3),
 ('일본', 3),
 ('튀김', 3),
 ('물', 3),
 ('일본식', 3),
 ('토핑', 3),
 ('해운대', 3),
 ('신세계', 3),
 ('스파게티', 3),
 ('스프', 3),
 ('레', 3),
 ('양이', 3),
 ('단계', 3),
 ('덮밥', 3),
 ('힙', 3),
 ('시', 2),
 ('한잔', 2),
 ('층', 2),
 ('오리', 2),
 ('막국수', 2),
 ('치킨', 2),
 ('손', 2),
 ('방문', 2),
 ('사진', 2),
 ('인상적', 2),
 ('거리', 2),
 ('동태', 2),
 ('선택지', 2),
 ('부산', 2),
 ('비빔밥', 2),
 ('양념', 2),
 ('가성', 2),
 ('속', 2),
 ('전문점', 2),
 ('신', 2),
 ('밤', 2),
 ('김밥', 2),
 ('부대', 2),
 ('직장인', 2),
 ('인심', 2),
 ('짬뽕', 2),
 ('호텔', 2),
 ('음식', 2),
 ('골목', 2),
 ('다대포', 2),
 ('스테이크', 2),
 ('메밀', 2),
 ('소', 2),
 ('돈', 2),
 ('카', 2),
 ('망리', 2),
 ('손님', 2),
 ('무제한', 2),
 ('샐러드', 2),
 ('인천', 2),
 ('복', 2),
 ('진리', 2),
 ('세트', 2),
 ('갈치', 2),
 ('교자', 2),
 ('양도', 2),
 ('떡볶이', 2),
 ('왕새우', 2),
 ('아쉬움', 2),
 ('장어', 2),
 ('회', 2),
 ('비주얼', 2),
 ('시티', 2),
 ('산역', 2),
 ('티', 2),
 ('줄', 2),
 ('직원', 2),
 ('외국인', 2),
 ('국', 2),
 ('식전', 2),
 ('봉', 2),
 ('대박', 2),
 ('탕', 2),
 ('현지', 2),
 ('해물', 2),
 ('세상', 2),
 ('느낌', 2),
 ('음료', 2),
 ('연화', 2),
 ('종로', 2),
 ('심플', 2),
 ('미', 2),
 ('간편', 2),
 ('가기', 2),
 ('베트남', 2),
 ('오', 2),
 ('조개', 2),
 ('국수집', 2),
 ('능이', 2),
 ('윗길', 1),
 ('호주', 1),
 ('호', 1),
 ('주식', 1),
 ('피맥', 1),
 ('피자', 1),
 ('파란', 1),
 ('컨테이너', 1),
 ('외관', 1),
 ('루프', 1),
 ('탑', 1),
 ('가야', 1),
 ('공원', 1),
 ('여의도', 1),
 ('가양', 1),
 ('매운탕', 1),
 ('추가', 1),
 ('유명인', 1),
 ('고촌', 1),
 ('강원', 1),
 ('배달', 1),
 ('강치', 1),
 ('예전', 1),
 ('할머니', 1),
 ('마늘', 1),
 ('향', 1),
 ('돈가스', 1),
 ('간이', 1),
 ('유럽', 1),
 ('정통', 1),
 ('파스타', 1),
 ('고동', 1),
 ('운', 1),
 ('사장님', 1),
 ('타르트', 1),
 ('이', 1),
 ('경치', 1),
 ('가마솥', 1),
 ('요즘', 1),
 ('날씨', 1),
 ('시원', 1),
 ('불고기', 1),
 ('연예인', 1),
 ('운동선수', 1),
 ('싸인', 1),
 ('제가', 1),
 ('별', 1),
 ('곰', 1),
 ('가도', 1),
 ('다양', 1),
 ('나무', 1),
 ('대', 1),
 ('북문', 1),
 ('간장', 1),
 ('밖', 1),
 ('안이', 1),
 ('동굴', 1),
 ('용', 1),
 ('밀', 1),
 ('면', 1),
 ('여름철', 1),
 ('대전', 1),
 ('탄진', 1),
 ('비빔', 1),
 ('감자', 1),
 ('만두', 1),
 ('기가', 1),
 ('울산', 1),
 ('요', 1),
 ('야식', 1),
 ('회식', 1),
 ('가족', 1),
 ('외식', 1),
 ('시청', 1),
 ('근처', 1),
 ('깡', 1),
 ('아주머니', 1),
 ('앞바다', 1),
 ('뷰', 1),
 ('나', 1),
 ('뽕', 1),
 ('남', 1),
 ('코트', 1),
 ('야드', 1),
 ('메리', 1),
 ('남대문', 1),
 ('인근', 1),
 ('주', 1),
 ('곰탕', 1),
 ('이태', 1),
 ('리어', 1),
 ('사투리', 1),
 ('무', 1),
 ('치아', 1),
 ('센스', 1),
 ('광', 1),
 ('일', 1),
 ('본가', 1),
 ('다이', 1),
 ('코', 1),
 ('애', 1),
 ('파전', 1),
 ('수제비', 1),
 ('끝장', 1),
 ('합', 1),
 ('정역', 1),
 ('교보', 1),
 ('문고', 1),
 ('건물', 1),
 ('별미', 1),
 ('을왕리', 1),
 ('전통', 1),
 ('동해', 1),
 ('밀전', 1),
 ('수육', 1),
 ('망원', 1),
 ('시장', 1),
 ('딥', 1),
 ('블루', 1),
 ('레이크', 1),
 ('수', 1),
 ('무제', 1),
 ('무한', 1),
 ('먹', 1),
 ('방', 1),
 ('차이나', 1),
 ('타운', 1),
 ('중화', 1),
 ('짜장', 1),
 ('특이', 1),
 ('특선', 1),
 ('점심시간', 1),
 ('맘', 1),
 ('테이크', 1),
 ('아웃', 1),
 ('기분', 1),
 ('여', 1),
 ('오늘', 1),
 ('터치', 1),
 ('청', 1),
 ('라', 1),
 ('스퀘어', 1),
 ('우치', 1),
 ('영화', 1),
 ('답', 1),
 ('마을', 1),
 ('양푼', 1),
 ('돼지', 1),
 ('김', 1),
 ('찌', 1),
 ('명랑', 1),
 ('스낵', 1),
 ('품절', 1),
 ('테이블', 1),
 ('명품', 1),
 ('숯불', 1),
 ('종류', 1),
 ('선택', 1),
 ('주차', 1),
 ('공간', 1),
 ('불편', 1),
 ('해리', 1),
 ('모루', 1),
 ('본점', 1),
 ('레트', 1),
 ('운서', 1),
 ('뒷편', 1),
 ('미가', 1),
 ('고', 1),
 ('디', 1),
 ('옆', 1),
 ('미술관', 1),
 ('옆집', 1),
 ('입장', 1),
 ('몰', 1),
 ('푸드', 1),
 ('트럭', 1),
 ('충무로', 1),
 ('마크', 1),
 ('베', 1),
 ('띠', 1),
 ('코스', 1),
 ('한국어', 1),
 ('생선', 1),
 ('봉대', 1),
 ('박', 1),
 ('처음', 1),
 ('골', 1),
 ('입문', 1),
 ('중국', 1),
 ('이모', 1),
 ('운영', 1),
 ('찹쌀', 1),
 ('우가', 1),
 ('우동', 1),
 ('공해', 1),
 ('아이스크림', 1),
 ('비스토', 1),
 ('배민', 1),
 ('이래', 1),
 ('폭식', 1),
 ('혼', 1),
 ('예정', 1),
 ('미카엘', 1),
 ('프랑스', 1),
 ('가옥', 1),
 ('조절', 1),
 ('가능', 1),
 ('빨강', 1),
 ('생각', 1),
 ('다음', 1),
 ('진해', 1),
 ('새마을', 1),
 ('나라', 1),
 ('백종', 1),
 ('원도', 1),
 ('집이', 1),
 ('옛날', 1),
 ('경양식', 1),
 ('도', 1),
 ('줌', 1),
 ('재첩', 1),
 ('고등어', 1),
 ('메인', 1),
 ('메뉴', 1),
 ('전리', 1),
 ('초입', 1),
 ('라면', 1),
 ('가로수', 1),
 ('도심', 1),
 ('중문', 1),
 ('스타', 1),
 ('한정', 1),
 ('맛보기', 1),
 ('스파', 1),
 ('랜드', 1),
 ('내부', 1),
 ('한', 1),
 ('차', 1),
 ('스페인', 1),
 ('포채', 1),
 ('와인', 1),
 ('전복', 1),
 ('내장', 1),
 ('안쪽', 1),
 ('식물', 1),
 ('술', 1),
 ('영도', 1),
 ('신기', 1),
 ('제공', 1),
 ('키', 1),
 ('궁합', 1),
 ('짱', 1),
 ('맨', 1),
 ('아리', 1),
 ('맘마', 1),
 ('승리', 1),
 ('반값', 1),
 ('할인', 1),
 ('간만', 1),
 ('봄', 1),
 ('햄', 1),
 ('수제', 1),
 ('강남', 1),
 ('치', 1),
 ('스토브', 1),
 ('오랜만', 1),
 ('향기', 1),
 ('마', 1),
 ('곡', 1),
 ('나루', 1),
 ('한국', 1),
 ('입맛', 1),
 ('오공', 1),
 ('연어', 1),
 ('항정', 1),
 ('투', 1),
 ('설', 1),
 ('록', 1),
 ('함', 1),
 ('흥', 1),
 ('그릇', 1),
 ('악마', 1),
 ('오가', 1),
 ('한식', 1),
 ('부', 1),
 ('랍스터', 1),
 ('치즈', 1),
 ('가리비', 1),
 ('끝판', 1),
 ('왕', 1),
 ('불타', 1),
 ('단', 1),
 ('찜', 1),
 ('닭', 1),
 ('한마리', 1),
 ('통', 1),
 ('원가', 1),
 ('회관', 1),
 ('행주', 1),
 ('산성', 1),
 ('원조', 1),
 ('유가', 1),
 ('필요', 1),
 ('시작', 1),
 ('커피', 1),
 ('쌈', 1),
 ('백화점', 1),
 ('지하', 1),
 ('반상', 1),
 ('세운', 1),
 ('상가', 1),
 ('지로', 1),
 ('성', 1),
 ('분식', 1),
 ('차돌', 1),
 ('박이', 1),
 ('초밥', 1),
 ('동', 1),
 ('이치', 1),
 ('이태원', 1),
 ('식탁', 1),
 ('양', 1),
 ('각오', 1),
 ('족발', 1),
 ('반찬', 1),
 ('둘', 1),
 ('성비', 1),
 ('한번', 1),
 ('조용하', 1),
 ('포리', 1),
 ('크리스마스', 1),
 ('갈비탕', 1),
 ('육개장', 1),
 ('정', 1),
 ('정아', 1),
 ('닭볶음탕', 1),
 ('끝', 1)]

In [102]:
!pip install wordcloud-1.8.1-cp38-cp38-win_amd64.whl

Processing c:\users\multicampus\desktop\ssafy 2학기 프로젝트\특화프로젝트\특화프로젝트 git\s04p22b203\bigdata\data\data-pre-proccess\wordcloud-1.8.1-cp38-cp38-win_amd64.whl
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (from wordcloud==1.8.1) (3.3.2)
Requirement already satisfied: pillow in c:\programdata\anaconda3\lib\site-packages (from wordcloud==1.8.1) (8.0.1)
Requirement already satisfied: numpy>=1.6.1 in c:\programdata\anaconda3\lib\site-packages (from wordcloud==1.8.1) (1.19.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->wordcloud==1.8.1) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->wordcloud==1.8.1) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->wordcloud==1.8.1) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->wordcloud==1.8.1) (1.3.0)
Requirement already satisfied: certifi>=2020.06.20 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->wordcloud==1.8.1) (2020.6.20)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->wordcloud==1.8.1) (1.15.0)
Installing collected packages: wordcloud
Successfully installed wordcloud-1.8.1

In [103]:
import sys
from wordcloud import WordCloud

In [113]:
filename = sys.argv[1]
filename
sys.argv

['C:\\ProgramData\\Anaconda3\\lib\\site-packages\\ipykernel_launcher.py',
 '-f',
 'C:\\Users\\multicampus\\AppData\\Roaming\\jupyter\\runtime\\kernel-c0decafb-7aa7-4289-b983-d4d0d886c43e.json']

In [121]:
# f = open('.','r',encoding='utf-8')
wc = WordCloud(font_path="C:\\WINDOWS\\FONTS\\MALGUNSL.TTF",
              background_color="white",
              width=1000,
              height=1000,
              max_words=100,
              max_font_size=300)
wc.generate_from_frequencies(dict(temp2))
wc.to_file('keyword.png')